.main {
  font-family: var(--font-family);
  background: rgb(100, 149, 237, 0.3);
  padding: 5px 10px;
  color: #fff;
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
  width: 600px;
  font-size: 1.2rem;
  border-radius: 1rem;
  margin-bottom: 10px;
}

.Mon,
.Thu {
  background: rgba(27, 238, 108, 0.3);
}

.Tue,
.Fri {
  background: rgba(245, 147, 155, 0.3);
}

.Wed,
.Sut {
  background: rgba(50, 170, 240, 0.3);
}

.Sun {
  background: rgba(246, 243, 54, 0.3);
}

.main-data {
  flex: 2;
  height: 30px;
}

.main-part,
.main-description {
  flex: 1;
}

.main-description {
  text-align: center;
}

.main-description img {
  height: 35px;
  margin: -3px 0 -8px 0;
}

p span {
  color: var(--color-text);
  font-size: 1rem;
}

.day {
  color: rgb(207, 207, 78);
}

.night {
  color: rgb(108, 228, 228);
}

@media screen and (max-width: 650px) {
  .main {
    width: 500px;
    font-size: 1rem;
  }
  p span {
    font-size: 0.8rem;
  }
  .main-description img {
    height: 28px;
  }
  .main-description,
  .main-part,
  .main-data {
    height: 20px;
  }
}

@media screen and (max-width: 550px) {
  .main {
    width: 400px;
    font-size: 0.9rem;
  }
  p span {
    font-size: 0.7rem;
  }
  .main-description img {
    height: 28px;
  }
  .main-description {
    margin-top: -1px;
  }
}

@media screen and (max-width: 450px) {
  .main {
    width: 320px;
    font-size: 0.8rem;
  }
  p span {
    font-size: 0.6rem;
  }
  .main-description img {
    height: 22px;
  }
  .main-description,
  .main-part,
  .main-data {
    height: 15px;
  }
  .main-description {
    margin-top: -3px;
  }
}

@media screen and (max-width: 350px) {
  .main {
    width: 250px;
    font-size: 0.7rem;
  }
  p span {
    font-size: 0.6rem;
  }
  .main-description {
    margin-top: -1px;
  }
}
