.header {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: var(--font-family);
  color: #fff;

}
h1 {
  background: linear-gradient(10deg, #f7f5fa 10%, #37568f 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: var(--color-text);
}

.header-left {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.header-right {
  display: flex;
  flex: 1;
}

img {
  margin-top: 20px;
  margin-left: 100px;
  max-width: 150px;
}

.scale-up-center {
  -webkit-animation: scale-up-center 1.5s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 550px) {
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  .header-left {
    justify-content: space-evenly;
  }
  img {
    margin-left: 70px;
    max-width: 120px;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1rem;
  }
  img {
    margin-left: 30px;
    max-width: 100px;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.8rem;
  }
  img {
    margin-left: 20px;
    max-width: 80px;
  }
}
