* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

  body {
    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(48, 154, 173, 1) 0%, rgba(1, 1, 16, 1) 100%); 
    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(48, 154, 173, 1) 0%, rgba(1, 1, 16, 1) 100%);
    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(48, 154, 173, 1) 0%, rgba(1, 1, 16, 1) 100%);
    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010110', endColorstr='#309AAD', GradientType=0 );
    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(48, 154, 173, 1) 0%, rgba(1, 1, 16, 1) 100%);
    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(48, 154, 173, 1) 0%, rgba(1, 1, 16, 1) 100%);

  }

  .container {
    min-height: 85vh;
  }
  